.attack-results-dialog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-weight: normal;
    grid-template-areas: 
        "top top"
        "attacking defending"
        "winning winning"
        "bottom bottom";
}

.attack-results-details {
    grid-area: top;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    border: 0;
    border-top: 3px solid #bebebe;
    border-bottom: 3px solid #bebebe;
    border-style: groove;
    margin-bottom: 20px;
    padding: 7px 0px;
}

.attack-results-attacking-army-table {
    margin-right: 10px;
    grid-area: attacking;
}

.attack-results-defending-army-table {
    grid-area: defending;
}

.attack-results-winning-army-table {
    grid-area: winning;
    border: 0;
    border-top: 3px solid #bebebe;
    border-style: groove;
    padding: 10px 0px;
}

.attack-results-button-panel {
    grid-area: bottom;
}