.game-over-details {
    grid-area: top;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    border: 0;
    border-top: 3px solid #bebebe;
    border-bottom: 3px solid #bebebe;
    border-style: groove;
    margin-bottom: 20px;
    padding: 7px 0px;
}